html,
body {
    background-color: #e7fdf9;
}

.pure-u-0{
    width: 100vw;
	margin-bottom: 10px;
}

.pure-u-1 {
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	
}

.pure-u-1-3 img {
    width: 30vw;
    height: 30vw;
}

.pure-u-1-2 {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 20px;


}

.pure-u-1-3 {
	margin-bottom: 10px;
	margin-top: 10px;

}


#text_div {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    text-align: center;
    color: #527298;
    font-size: 40px;
}

p {
    color: #000000;
    font-size: 20px;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;

}

t {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 20px;
	margin-right: 20px;
}

#bar_chart {
    width: 90%;
    height: 90%
}